<div class="container custom-container" [formGroup]="form" (ngSubmit)="addCustomer()">
  <div class="col-md-12">
    <h3 class="mb-3 text-center">Create Customer</h3>

    <div class="form-group" [ngClass]="{invalid: form.get('firstName').touched && form.get('firstName').invalid}">
      <input type="text" [(ngModel)]="customerDetails.firstName" class="form-control" placeholder="Enter first name" formControlName="firstName">
      <div
        *ngIf="form.get('firstName').touched && form.get('firstName').invalid"
        class="validation text-danger"
      >
        <small *ngIf="form.get('firstName').errors.required">
          Enter first name
        </small>
        <small *ngIf="form.get('firstName').errors.minlength">
          Name must be more then 5 letters
        </small>
        <small *ngIf="form.get('firstName').errors.maxlength">
          Name must be less then 15 letters
        </small>
      </div>
    </div>

    <div class="form-group" [ngClass]="{invalid: form.get('lastName').touched && form.get('lastName').invalid}">
      <input type="text" [(ngModel)]="customerDetails.lastName" class="form-control" placeholder="Enter last name" formControlName="lastName">
      <div
        *ngIf="form.get('lastName').touched && form.get('lastName').invalid"
        class="validation text-danger"
      >
        <small *ngIf="form.get('lastName').errors.required">
          Enter first name
        </small>
        <small *ngIf="form.get('lastName').errors.minlength">
          Name must be more then 5 letters
        </small>
        <small *ngIf="form.get('lastName').errors.maxlength">
          Name must be less then 15 letters
        </small>
      </div>
    </div>

    <div class="form-group" [ngClass]="{invalid: form.get('address').touched && form.get('address').invalid}">
      <input type="text" [(ngModel)]="customerDetails.address" class="form-control" placeholder="Enter address" formControlName="address">
      <div
        *ngIf="form.get('address').touched && form.get('address').invalid"
        class="validation text-danger"
      >
        <small *ngIf="form.get('address').errors.required">
          Enter first name
        </small>
        <small *ngIf="form.get('address').errors.minlength">
          Name must be more then 5 letters
        </small>
        <small *ngIf="form.get('address').errors.maxlength">
          Name must be less then 15 letters
        </small>
      </div>
    </div>

    <div class="form-group" [ngClass]="{invalid: form.get('phoneNumber').touched && form.get('phoneNumber').invalid}">
      <input type="text" [(ngModel)]="customerDetails.phoneNumber" class="form-control" placeholder="Enter phone number" formControlName="phoneNumber">
      <div
        *ngIf="form.get('phoneNumber').touched && form.get('phoneNumber').invalid"
        class="validation text-danger"
      >
        <small *ngIf="form.get('phoneNumber').errors.required">
          Enter phone number
        </small>
        <small *ngIf="form.get('phoneNumber').errors.pattern">
          Enter correct phone number
        </small>
      </div>
    </div>

    <div class="form-group">
      <button [disabled]="form.invalid" class="btn btn-success btn-lg btn-block" (click)="addCustomer()">Create Product</button>
    </div>

  </div>
</div>
