<div class="container custom-container" [formGroup]="form" (ngSubmit)="userUpdating()">
  <div class="col-md-12">

    <h3 class="mb-3 text-center">{{'Users.UserEdit.UpdateUser' | translate}}</h3>

    <div class="form-group" [ngClass]="{invalid: form.get('username').touched && form.get('username').invalid}">
      <input type="text" [(ngModel)]="userData.username" class="form-control" placeholder="{{'Users.UserEdit.EnterUsername' | translate}}" formControlName="username">
      <div
        *ngIf="form.get('username').touched && form.get('username').invalid"
        class="validation text-danger"
      >
        <small *ngIf="form.get('username').errors.required">
          {{'Users.Validation.EnterUsername' | translate }}
        </small>
        <small *ngIf="form.get('username').errors.minlength">
          {{'Users.Validation.UsernameLess' | translate }}
        </small>
        <small *ngIf="form.get('username').errors.maxlength">
          {{'Users.Validation.UsernameMore' | translate }}
        </small>
      </div>
    </div>

    <div class="form-group" [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}">
      <input type="text" [(ngModel)]="userData.email" class="form-control" placeholder="{{'Users.UserEdit.EnterEmail' | translate}}" formControlName="email">
      <div
        *ngIf="form.get('email').touched && form.get('email').invalid"
        class="validation text-danger"
      >
        <small *ngIf="form.get('email').errors.required">
          {{'Users.Validation.EnterEmail' | translate }}
        </small>
        <small *ngIf="form.get('email').errors.email">
          {{'Users.Validation.CorrectEmail' | translate }}
        </small>
      </div>
    </div>

    <div class="form-group" [ngClass]="{invalid: form.get('roles').touched && form.get('roles').invalid}">
      <ng-multiselect-dropdown
        placeholder="{{'Users.UserEdit.SelectRole' | translate }}"
        [settings]="dropdownSettings"
        [data]="dropdownList"
        [(ngModel)]="userData.roles"
        formControlName="roles"
      >
      </ng-multiselect-dropdown>
      <div
        *ngIf="form.get('roles').touched && form.get('roles').invalid"
        class="validation text-danger"
      >
        <small>
          {{'Users.UserEdit.SelectRole' | translate }}
        </small>
      </div>
    </div>

    <div class="form-group" [ngClass]="{invalid: form.get('petName').touched && form.get('petName').invalid}">
      <input type="text" [(ngModel)]="userData.petName" class="form-control" placeholder="{{'Users.UserEdit.EnterPetName' | translate }}" formControlName="petName">
      <div
        *ngIf="form.get('petName').touched && form.get('petName').invalid"
        class="validation text-danger"
      >
        <small *ngIf="form.get('petName').errors.required">
          {{'Users.Validation.EnterPetName' | translate }}
        </small>
        <small *ngIf="form.get('petName').errors.minlength">
          {{'Users.Validation.PetLess' | translate }}
        </small>
        <small *ngIf="form.get('petName').errors.maxlength">
          {{'Users.Validation.PetMore' | translate }}
        </small>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" [disabled]="form.invalid" (click)="userUpdating()">{{'Users.UserEdit.UpdateUser' | translate}}</button>
    </div>

  </div>
</div>
