<div class="container custom-container-2">

  <div *ngIf="Users.length !== 0">
    <h3 class="mb-3 text-center">{{'Users.UsersList' | translate}}</h3>

    <div class="col-md-12">
      <table class="table table-bordered text-center">
        <thead>
        <tr>
          <th scope="col">{{'Users.Username' | translate}}</th>
          <th scope="col">{{'Users.Email' | translate}}</th>
          <th scope="col">{{'Users.Role' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of Users">
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.roles.join(', ')}}</td>
          <td>
            <span class="btn-link" routerLink="/user-updating/{{user.id}}">{{'Users.Edit' | translate}}</span>
             |
            <span class="btn-link" (click)="deleteUser(user.id)">{{'Users.Delete' | translate}}</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
