<div class="container custom-container-2">

  <div class="no-data text-center" *ngIf="Users.length == 0">
    <p>There is no customer added yet!</p>
    <button class="btn btn-outline-primary" routerLink="/customer-creating">Add User</button>
  </div>

  <div *ngIf="Users.length !== 0">
    <h3 class="mb-3 text-center">Users List</h3>

    <div class="col-md-12">
      <table class="table table-bordered text-center">
        <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of Users">
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.roles.join(', ')}}</td>
          <td>
            <span class="btn-link" routerLink="/user-updating/{{user.id}}">Edit</span>
             |
            <span class="btn-link" (click)="deleteUser(user.id)">Delete</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
