<div class="container custom-container" [formGroup]="form" (ngSubmit)="addSale()">
  <div class="col-md-12">
    <h3 class="mb-3 text-center">{{'Sales.AddSale' | translate}}</h3>

    <div class="form-group" [ngClass]="{invalid: form.get('customerName').touched && form.get('customerName').invalid}">
      <select [(ngModel)]="saleWithProduct.customerId" class="form-control" formControlName="customerName">
        <option [ngValue]="0" selected disabled hidden>{{'Sales.Validation.SelectCustomer' | translate}}</option>
        <option *ngFor = "let customer of customersNames" [ngValue]="customer.id">{{customer.name}}
        </option>
      </select>
      <div
        *ngIf="form.get('customerName').touched && form.get('customerName').invalid"
        class="validation text-danger"
      >
        <small *ngIf="form.get('customerName').errors.required">
          {{'Sales.Validation.SelectCustomer' | translate}}
        </small>
      </div>
    </div>

    <div class="form-group">
      <mat-radio-group aria-label="Select an option" [(ngModel)] = "saleWithProductFlag"  [ngModelOptions]="{standalone: true}">
        <mat-radio-button (change)="radioChange($event)" [value]= false [checked]="!saleWithProductFlag">Select existing product</mat-radio-button>
        <mat-radio-button (change)="radioChange($event)" [value]= true>Create new product</mat-radio-button>
      </mat-radio-group>
    </div>
  
      <div *ngIf="!saleWithProductFlag" class="form-group">
        <ng-multiselect-dropdown formControlName="productName"
          [settings]="dropdownSettings"
          [data]="productsNames"
          [(ngModel)]="saleWithProduct.products" [ngModelOptions]="{standalone: true}">
        </ng-multiselect-dropdown>
      </div>
    <div [formGroup]="formGroup"  *ngIf="saleWithProductFlag" >
      <ng-container formArrayName="products">
        <div class="flex">
        <ng-container class="flex" *ngFor="let productForm of products.controls; let i = index">
          <div class="formGroup">
            <ng-container [formGroup]="productForm">
              <p>Product name <button class="btn" (click)="deleteProduct(i)">x</button><p><input formControlName="productName" /> 
              <p>Price<p><input formControlName="price" />
              <p>Unit Of Measurement<p><input formControlName="unitOfMeasurement" />
            </ng-container>
              
          </div>
        </ng-container>
      </div>
      </ng-container>
      <button class="btn btn-success mar" (click)="addProduct()">Add</button>
    </div>
    <div class="form-group" [ngClass]="{invalid: form.get('date').touched && form.get('date').invalid}">
      <input type="date" [(ngModel)]="saleWithProduct.dateOfSale" class="form-control" placeholder="Enter date of sale" formControlName="date">
      <div
        *ngIf="form.get('date').touched && form.get('date').invalid"
        class="validation text-danger"
      >
        <small *ngIf="form.get('date').errors.required">
          {{'Sales.Validation.EnterDate' | translate}}
        </small>
      </div>
    </div>

    <div class="form-group" [ngClass]="{invalid: form.get('amount').touched && form.get('amount').invalid}">
      <input type="text" [(ngModel)]="saleWithProduct.amount" class="form-control" placeholder="{{'Sales.Validation.EnterAmount' | translate}}" formControlName="amount">
      <div
        *ngIf="form.get('amount').touched && form.get('amount').invalid"
        class="validation text-danger"
      >
        <small *ngIf="form.get('amount').errors.required">
          {{'Sales.Validation.EnterAmount' | translate}}
        </small>
        <small *ngIf="form.get('amount').errors.min">
          {{'Sales.Validation.AmountMore' | translate}}
        </small>
        <small *ngIf="form.get('amount').errors.max">
          {{'Sales.Validation.AmountLess' | translate}}
        </small>
        <small *ngIf="form.get('amount').errors.pattern">
          {{'Sales.Validation.CorrectAmount' | translate}}
        </small>
      </div>
    </div>

    <div class="form-group">
      <button [disabled]="form.invalid" class="btn btn-success btn-lg btn-block" (click)="addSale()">{{'Sales.AddSale' | translate}}</button>
    </div>
    
  </div>
</div>
