.productcreate {
  width: 100%;
  padding-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid rgb(201, 201, 201);
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.flex{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 23px;
}
.mar{
  margin-bottom: 5px;
}

.titles{
  width: 650px;
  text-align: justify;						 
	text-align-last: justify;
}

.tab { margin-top: 20px; padding: 10px; display: flex;}