<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">{{'nav.OnlineStore' | translate}}</a>
      <a class="navbar-brand" [routerLink]="['/sales-list']">{{'nav.Sales' | translate}}</a>
      <a class="navbar-brand" [routerLink]="['/products-list']">{{'nav.Products' | translate}}</a>
      <a class="navbar-brand" [routerLink]="['/customers-list']">{{'nav.Customers' | translate}}</a>
      <a class="navbar-brand" [routerLink]="['/sales-report']">Sales report</a>
      <a class="navbar-brand" [routerLink]="['/users-list']">{{'nav.Users' | translate}}</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">{{'nav.Home' | translate}}</a>
          </li>
          <li *ngIf="!isAuth()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/login']"
              >{{'nav.Login' | translate}}</a
            >
          </li>
          <li *ngIf="!isAuth()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/register']"
              >{{'nav.Register' | translate}}</a
            >
          </li>
          <li *ngIf="isAuth()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark pointer" routerLink="/login" (click)="logout()"
            >{{'nav.Logout' | translate}}</a
            >
          </li>
          <li class="nav-item">
            <select class="nav-link rounded-lg text-dark pointer" [(ngModel)]="lang" (change)="changeLang($event.target)" >
              <option value ="en" [selected]="lang == 'en'">English</option>
              <option value="ru" [selected]="lang == 'ru'">Русский</option>>
            </select>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
