<div class="form-group form-size" [formGroup]="form" (ngSubmit)="submit()">
  <div class="col-md-12">
    <h3 class="mb-3 text-center">{{'Register.Register' | translate}}</h3>

    <div
      class="form-group"
      [ngClass]="{invalid: form.get('username').touched && form.get('username').invalid}"
    >
      <label class="form-group" for="username">{{'Register.Username' | translate}}</label>
      <input [(ngModel)]="registerDetails.username" class="form-control" id="username" type="text" formControlName="username">
      <div
        *ngIf="form.get('username').touched && form.get('username').invalid"
        class="validation text-danger"
      >
        <small *ngIf="form.get('username').errors.required">
          {{'Register.Validation.EnterUsername' | translate}}
        </small>
        <small *ngIf="form.get('username').errors.minlength">
          {{'Register.Validation.UserMore' | translate}}
        </small>
        <small *ngIf="form.get('username').errors.maxlength">
          {{'Register.Validation.UserLess' | translate}}
        </small>
      </div>
    </div>

    <div
      class="form-group"
      [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
    >
      <label class="form-group" for="email">{{'Register.Email' | translate}}</label>
      <input [(ngModel)]="registerDetails.email" class="form-control" id="email" type="email" formControlName="email">
      <div
        *ngIf="form.get('email').touched && form.get('email').invalid"
        class="validation text-danger"
      >
        <small *ngIf="form.get('email').errors.required">
          {{'Register.Validation.EnterEmail' | translate}}
        </small>
        <small *ngIf="form.get('email').errors.email">
          {{'Register.Validation.CorrectEmail' | translate}}
        </small>
      </div>
    </div>

    <div
      class="form-group"
      [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}"
    >
      <label class="form-group" for="password">{{'Register.Password' | translate}}</label>
      <input [(ngModel)]="registerDetails.password" class="form-control" id="password" type="password" formControlName="password">
      <div
        class="validation text-danger"
        *ngIf="form.get('password').touched && form.get('password').invalid"
      >
        <small *ngIf="form.get('password').errors.required">
          {{'Register.Validation.Password' | translate}}
        </small>
        <small *ngIf="form.get('password').errors.pattern">
          {{'Register.Validation.CorrectPassword' | translate}}
        </small>
      </div>
    </div>

    <div
      class="form-group"
      [ngClass]="{invalid: form.get('petName').touched && form.get('petName').invalid}"
    >
      <label class="form-group" for="password">{{'Register.PetName' | translate}}</label>
      <input [(ngModel)]="registerDetails.petName" class="form-control" id="petName" formControlName="petName" type="text">
      <div
        class="validation text-danger"
        *ngIf="form.get('petName').touched && form.get('petName').invalid"
      >
        <small *ngIf="form.get('petName').errors.required">
          {{'Register.Validation.PetName' | translate}}
        </small>
        <small *ngIf="form.get('petName').errors.minlength">
          {{'Register.Validation.PetMore' | translate}}
        </small>
        <small *ngIf="form.get('petName').errors.maxlength">
          {{'Register.Validation.PetLess' | translate}}
        </small>
      </div>
    </div>

    <button
      (click)="submit()"
      type="submit"
      class="btn btn-primary form-control"
      [disabled]="form.invalid"
    >{{'Register.Register' | translate}}</button>
  </div>
</div>
