<div class="container custom-container" >
  <div class="col-md-12" [formGroup]="form" (ngSubmit)="saleUpdating()">

    <h3 class="mb-3 text-center">{{'Sales.UpdateSale' | translate}}</h3>

    <div class="form-group">
      <select [(ngModel)]="saleData.customerId" class="form-control" [ngModelOptions]="{standalone: true}">
        <option [value]="saleData.customerId">{{saleData.customerName}}</option>>
        <option *ngFor = "let customer of customersNames" [value]="customer.id">{{customer.name}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <ng-select2 [data]="exampleData"
            [options]="options"
            [width]="500"
            [(ngModel)]="value">
</ng-select2>

  </div>
    <div class="form-group" [ngClass]="{invalid: form.get('date').touched && form.get('date').invalid}">
      <input type="date" [(ngModel)]="saleData.dateOfSale" class="form-control" placeholder="{{'Sales.Date' | translate}}" formControlName="date">
      <div
        *ngIf="form.get('date').touched && form.get('date').invalid"
        class="validation text-danger"
      >
        <small *ngIf="form.get('date').errors.required">
          {{'Sales.Validation.EnterDate' | translate}}
        </small>
      </div>
    </div>

    <div class="form-group" [ngClass]="{invalid: form.get('amount').touched && form.get('amount').invalid}">
      <input type="text" [(ngModel)]="saleData.amount" class="form-control" placeholder="{{'Sales.Amount' | translate}}" formControlName="amount">
      <div
        *ngIf="form.get('amount').touched && form.get('amount').invalid"
        class="validation text-danger"
      >
        <small *ngIf="form.get('amount').errors.required">
          {{'Sales.Validation.EnterAmount' | translate}}
        </small>
        <small *ngIf="form.get('amount').errors.min">
          {{'Sales.Validation.AmountMore' | translate}}
        </small>
        <small *ngIf="form.get('amount').errors.max">
          {{'Sales.Validation.AmountLess' | translate}}
        </small>
        <small *ngIf="form.get('amount').errors.pattern">
          {{'Sales.Validation.CorrectAmount' | translate}}
        </small>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" [disabled]="form.invalid" (click)="saleUpdating()">{{'Sales.UpdateSale' | translate}}</button>
    </div>

  </div>
</div>
