<div class="container custom-container-2">

  <div class="no-data text-center" *ngIf="Products.length == 0">
    <p>There is no sale added yet!</p>
    <button class="btn btn-outline-primary" routerLink="/sale-creating">Add Sale</button>
  </div>

  <button class="btn btn-outline-primary" routerLink="/sale-creating">Add Sale</button>
  <div *ngIf="Products.length !== 0">
    <h3 class="mb-3 text-center">Sales List</h3>

    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Product Name</th>
          <th scope="col">Price</th>
          <th scope="col">Unit of Measurement</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of Products">
          <td>{{product.id}}</td>
          <td>{{product.productName}}</td>
          <td>{{product.price}}</td>
          <td>{{product.unitOfMeasurement}}</td>
          <td>
            <span class="edit" routerLink="/sale-updating/{{product.id}}">Edit</span>
            <span class="delete" (click)="deleteProduct(product.id)">Delete</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
