<div class="container custom-container-2">

  <div class="no-data text-center" *ngIf="Products.length == 0">
    <p>There is no product added yet!</p>
    <button class="btn btn-outline-primary" routerLink="/product-creating">{{'Products.AddProduct' | translate}}</button>
  </div>

  <button class="btn btn-outline-primary" routerLink="/product-creating">{{'Products.AddProduct' | translate}}</button>
  <div *ngIf="Products.length !== 0">
    <h3 class="mb-3 text-center">{{'Products.ProductsList' | translate}}</h3>

    <div class="col-md-12">
      <table class="table table-bordered text-center">
        <thead>
        <tr>
          <th scope="col">{{'Products.ProductName' | translate}}</th>
          <th scope="col">{{'Products.Price' | translate}}</th>
          <th scope="col">{{'Products.UnitOfMeasurement' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of Products">
          <td>{{product.productName}}</td>
          <td>{{product.price}}</td>
          <td>{{product.unitOfMeasurement}}</td>
          <td>
            <span class="btn-link" routerLink="/product-updating/{{product.id}}">{{'Products.Edit' | translate}}</span>
             |
            <span class="btn-link" (click)="deleteProduct(product.id)">{{'Products.Delete' | translate}}</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    
  </div>
</div>
<app-paginator *ngIf="Products != null" [length]="PaginationData.TotalCount" (paginatorEmit)="loadProducts()"></app-paginator>