<div class="container custom-container" [formGroup]="form" (ngSubmit)="addProduct()">
  <div class="col-md-12">
    <h3 class="mb-3 text-center">{{'Products.ProductAdd.CreateProduct' | translate}}</h3>

    <div class="form-group" [ngClass]="{invalid: form.get('productName').touched && form.get('productName').invalid}">
      <input type="text" [(ngModel)]="productDetails.productName" class="form-control" placeholder="{{'Products.ProductAdd.EnterName' | translate}}" formControlName="productName">
      <div
        *ngIf="form.get('productName').touched && form.get('productName').invalid"
        class="validation text-danger"
      >
        <small *ngIf="form.get('productName').errors.required">
          {{'Products.Validation.EnterName' | translate}}
        </small>
        <small *ngIf="form.get('productName').errors.minlength">
          {{'Products.Validation.NameMore' | translate}}
        </small>
        <small *ngIf="form.get('productName').errors.maxlength">
          {{'Products.Validation.NameLess' | translate}}
        </small>
      </div>
    </div>

    <div class="form-group" [ngClass]="{invalid: form.get('price').touched && form.get('price').invalid}">
      <input type="text" [(ngModel)]="productDetails.price" class="form-control" placeholder="{{'Products.ProductAdd.EnterPrice' | translate}}" formControlName="price">
      <div
        *ngIf="form.get('price').touched && form.get('price').invalid"
        class="validation text-danger"
      >
        <small *ngIf="form.get('price').errors.required">
          {{'Products.Validation.EnterPrice' | translate}}
        </small>
        <small *ngIf="form.get('price').errors.min">
          {{'Products.Validation.PriceMore' | translate}}
        </small>
        <small *ngIf="form.get('price').errors.max">
          {{'Products.Validation.PriceLess' | translate}}
        </small>
        <small *ngIf="form.get('price').errors.pattern">
          {{'Products.Validation.CorrectPrice' | translate}}
        </small>
      </div>
    </div>

    <div class="form-group" [ngClass]="{invalid: form.get('unitOfMeasurement').touched && form.get('unitOfMeasurement').invalid}">
      <input type="text" [(ngModel)]="productDetails.unitOfMeasurement" class="form-control" placeholder="{{'Products.ProductAdd.EnterUnit' | translate}}"  formControlName="unitOfMeasurement">
      <div
        *ngIf="form.get('unitOfMeasurement').touched && form.get('unitOfMeasurement').invalid"
        class="validation text-danger"
      >
        <small *ngIf="form.get('unitOfMeasurement').errors.required">
          {{'Products.Validation.EnterUnit' | translate}}
        </small>
        <small *ngIf="form.get('unitOfMeasurement').errors.minlength">
          {{'Products.Validation.UnitMore' | translate}}
        </small>
        <small *ngIf="form.get('unitOfMeasurement').errors.maxlength">
          {{'Products.Validation.UnitLess' | translate}}
        </small>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" [disabled]="form.invalid" (click)="addProduct()">{{'Products.ProductAdd.CreateProduct' | translate}}</button>
    </div>

  </div>
</div>
